@import "../src/assets/scss/app";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import "../src/components/Layout/scss/index";
@import "../src/components/FavoritesList/scss/index";
@import "../src/components/CardImages/scss/index";
